
<div class="container">
	
	<style>input.ng-invalid.ng-dirty {background-color: pink}</style>
	<form name="newInvoiceForm2">
	
		<fieldset>
			<label for="invoiceNumber">Invoice number:</label>
			<input id="invoiceNumber" type="text" class="form-control" required placeholder="Invoice number" ng-model="invoice.number">
			
			<label for="dateOfIssue" >Date of issue:</label>
			<input id="dateOfIssue" type="text" class="form-control datePicker" required ng-pattern="/\d\d\d\d-\d\d-\d\d/" placeholder="Date of issue (YYYY-MM-DD)" ng-model="invoice.dateOfIssue">
			
			<label for="maturity">Maturity date:</label>
			<input id="maturity" type="text" class="form-control datePicker" required ng-pattern="/\d\d\d\d-\d\d-\d\d/" placeholder="Maturity date (YYYY-MM-DD)" ng-model="invoice.maturity">
			
			<label for="contractor">Contractor:</label>
			<input id="contractor" type="text" class="form-control"  required  ng-model="invoice.contractor" 
			typeahead="contractor as (contractor.name) for contractor in contractors | filter:$viewValue"
			typeaheadEditable="false">
			
		</fieldset>
		
		<button type="submit" class="btn btn-primary" ng-disabled="newInvoiceForm2.$invalid" ng-click="addInvoice(invoice, newInvoiceForm2)">Save</button>
		<button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
	</form>


</div>
<script type="text/javascript">
	$('.datePicker').datepicker({
		dateFormat: "yy-mm-dd"
	});
</script>

