
<div class="container">
	
	<style>input.ng-invalid.ng-dirty {background-color: pink}</style>
	<form name="newInvoiceForm">
	
		<fieldset>
			<label for="invoiceNumber">Invoice number:</label>
			<input id="invoiceNumber" type="text" class="form-control" required placeholder="Invoice number" ng-model="invoice.number">
			
			<label for="dateOfIssue" >Date of issue:</label>
			<input id="dateOfIssue" type="text" class="form-control datePicker" required ng-pattern="/\d\d\d\d-\d\d-\d\d/" placeholder="Date of issue (YYYY-MM-DD)" ng-model="invoice.dateOfIssue">
			
			<label for="maturity">Maturity date:</label>
			<input id="maturity" type="text" class="form-control datePicker" required ng-pattern="/\d\d\d\d-\d\d-\d\d/" placeholder="Maturity date (YYYY-MM-DD)" ng-model="invoice.maturity">
			
			<label for="totalAmount">Total amount:</label>
			<input id="totalAmount" type="text" class="form-control" ng-pattern="/^\d{1,9}((\,|\.)\d{2})?$/" required placeholder="Total amount (34.34)" ng-model="invoice.totalAmount">
		</fieldset>
		
		<button type="submit" class="btn btn-primary" ng-disabled="newInvoiceForm.$invalid" ng-click="addInvoice(invoice, newInvoiceForm)">Save</button>
		<button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
	</form>


</div>
<script type="text/javascript">
	$('.datePicker').datepicker({
		dateFormat: "yy-mm-dd"
	});
</script>

