

	<div class="panel panel-default">
		<!-- Default panel contents -->
		<div class="panel-heading">Invoice list</div>
		
		<div loading-container="tableParams.settings().$loading">
		<table class="table" ng-table="tableParams">
			<tr ng-repeat="invoice in $data">
				<td data-title="'Id'">{{invoice.id}}</td>
				<td data-title="'Invoice number'">{{invoice.number}}</td>
				<td data-title="'Date of issue'">{{invoice.dateOfIssue | date : 'yyyy-MM-dd'}}</td>
				<td data-title="'Maturity date'">{{invoice.maturity | date : 'yyyy-MM-dd'}}</td>
				<td data-title="'Total amount'">{{invoice.totalAmount}}</td>
				<td><button type="button" class="btn btn-default" ng-show="hasRole('ROLE_ADMIN')" ng-click="removeInvoice(invoice.id)">Remove</button></td>
			</tr>
		</table>
		</div>
	</div>



